html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    width: 100%;
    height: 15%;
}

nav{
    width: 15%;
    height: 70%;
    float: left;
}

section{
    width: 70%;
    height: 70%;
    float: left;
}

aside{
    width: 15%;
    height: 70%;
    float: left;
}

footer{
    width: 100%;
    height: 15%;
    clear: both;
}

body{
    font-family: 'Giants-Inline';
}

table {
    position:relative;
    top: -45%;
    left: 91%;
    bottom: 50%;
}

a {
    text-decoration-line: none;
    color: #000;
}

#topMenu {            
    height: 30px; 
    width: 850px; 
}
#topMenu ul li {                       
    list-style: none;           
    color: black;               
    background-color: #2d2d2d;  
    float: left;                
    line-height: 30px;          
    vertical-align: middle;     
    text-align: center;         
}
#topMenu .menuLink {                               
    text-decoration:none;                      
    color: black;                              
    display: block;                            
    width: 150px;                              
    font-size: 50px;                           
    font-weight: bold;
}

#topMenu .menuLink:hover {            
    color: white;                   
    background-color: black;    
}

.goods {
    float: left;
}

.b img{
    height: 335px;
    width: 300px;
    margin: 0px 150px 0px 150px;
}

.c img{
    height: 335px;
    width: 280px;
}

.e img{
    margin: 0px 150px 0px 150px;
    height: 300px;
    width: 300px;
}

